blinker
certifi
charset-normalizer
click
colorama
et_xmlfile
Flask
flask-cors
idna
itsdangerous
Jinja2
MarkupSafe
numpy
opencv-python
openpyxl
pandas
pillow
python-dateutil
reportlab
requests
six
tzdata
urllib3
Werkzeug
python-dotenv
mysql-connector-python
